---
import ChargeSection from "../components/ChargeSection.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Autos electricos, en todas partes.">	
	<LandingHeader />

	<main class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ChargeSection title="Model 3" img="./model-3.avif" />
		</div>
		<div class="snap-center">
			<ChargeSection title="Model Y" img="./model-y.avif" />
		</div>
		<div class="snap-center">
			<ChargeSection title="Model S" img="./model-s.avif" />
		</div>
		<div class="snap-center">
			<ChargeSection title="Model X" img="./model-x.avif" />
		</div>
		<div class="snap-center">
			<ChargeSection title="Cybertruck" img="./cybertruck.avif" />
		</div>
		<div class="snap-center">
			<ChargeSection title="Energía solar y Powerwall" subtitle="Totalmente electrico" img="./powerwall.avif" />
		</div>
	</main>
</Layout>
