---
import Section from "./Section.astro";
const {title, subtitle, img} = Astro.props
---

<Section title={`${title}`} subtitle={`${subtitle ?? ''}`} color="black">
    <div slot="buttons" class="md:grid flex gap-x-5 md:gap-y-0 gap-y-5 md:grid-flow-col flex-col justify-center md:mx-0 mx-10">
        <a class="border-[3px] border-zinc-800/5 bg-zinc-800/90 text-white/95 rounded text-sm font-medium px-10 py-[6px] inline-block hover:text-white hover:bg-zinc-800 transition-colors" href="">Explorar inventario</a>

        <a class="border-[3px] border-white/5 bg-white/90 text-zinc-800/95 rounded text-sm font-medium px-10 py-[6px] inline-block hover:text-zinc-800 hover:bg-slate-100 transition-colors" href="">Pedido personalizado</a>
    </div>

    <img slot="background" class="object-center object-cover h-full w-full" alt="Model 3" src=`${img}`></img>
</Section>